body {
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	background-color: red;
	justify-content: center;
}


.mem-img {
	width: 600px;
	height: 450px;
	margin-top: 25px;
	margin: 25px 30px;
}

.btn {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background-color: black;
	cursor: pointer;
}

.slider-buttons {
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin-right: 25px;
}

.slider-container {
	display: flex;
	flex-direction: column;
	background-color: red;
	justify-content: center;
}